<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Otro</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${dataList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.date}"></td>
                <td th:text="${item.enum}"></td>
                <td th:text="${item.string}"></td>
                <td th:text="${item.double}"></td>
                <td th:text="${item.char}"></td>
            </tr>
        </tbody>
    </table> -->
</body>
</html>